<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<section class="d-flex align-items-center justify-content-center text-center hero-section">
    <div>
        <h1 class="fw-bold display-4">Welcome to Smart Contact Manager</h1>
        <p class="lead">Manage all your contacts in one secure and smart place.</p>
      <a href="#" class="btn btn-hero mt-3">Get Started</a>

    </div>
</section>


</body>
</html>